atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
et-xmlfile==1.0.1
iniconfig==1.1.1
jdcal==1.4.1
numpy==1.19.5
openpyxl==3.0.6
packaging==20.8
pandas==1.2.0
pip==20.2.3
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
python-dateutil==2.8.1
pytz==2020.5
setuptools==49.2.1
six==1.15.0
toml==0.10.2
xlrd==2.0.1
